*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
*.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea/
log/
.ruby-version
logstash-logger.sublime-project
logstash-logger.sublime-workspace
