language: ruby
dist: trusty
sudo: false
cache: bundler
after_success:
  bundle exec codeclimate-test-reporter
rvm:
  - 2.2.7
  - 2.3.4
  - 2.4.1
  - jruby-9.1.5.0
  - rubinius-3
gemfile:
  - gemfiles/rails_4.0.gemfile
  - gemfiles/rails_4.1.gemfile
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
matrix:
  allow_failures:
    - rvm: rubinius-3
    - rvm: 2.4.1
      gemfile: gemfiles/rails_4.0.gemfile
    - rvm: 2.4.1
      gemfile: gemfiles/rails_4.1.gemfile
addons:
  code_climate:
    repo_token: 4d712355fa2863c0f33f413eeede4e52cc221c4bc989a692d97574b1f6010b69
